body {
    padding-top: 50px;
    font-weight: 300;
}

.presentation {
    padding: 40px 15px;
    text-align: center;
    margin-bottom: 0px;
}

.networks {
    width: 40px;
    position: absolute;
    right: 0px;
    top: 95px;
}

.networks .btn {
    display: block;
}

.networks a:visited, .networks a {
    color: #424242;
}

.btn-app-store {
    background-image: url("../images/app-store-badge.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px !important;
    height: 40px !important;
    display: block;
}

.apps.container {
    margin-top: 20px;
}